
* {
    margin: 0;
    padding:0;

}

body{
    background-color: #f1f3f4;
    font-family: sans-serif;
}

.top-nav-bar{
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    z-index: 2;

}

.logo{
    height: 40px;
    margin: 5px 10px;
}


.search-box{
    display: inline-flex;
    width: 40%;
}

.search-container {
    float: right;
    margin-left: 150px;
    position: fixed;
}
/* Style the search box inside the navigation bar */
.top-nav-bar input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    background: orange;
}
.search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 7px;
    margin-right: 16px;
    background: #ddd2cb;
    font-size: 17px;
    border: 1px solid orange;
    border-radius: 0 20px 20px 0 !important;
    cursor: pointer;

}

.form-control {

    background: #f1f1f1;
}

.search-container button:hover {
    background: #e07d17;
}


.menu-bar{
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style-type:none ;
    padding: 15px 35px;
    text-align: center;
    background-color: orange;
    cursor: pointer;
}

.menu-bar ul li  a {
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
}

.fa-shopping-basket{
    margin-right: 5px;
}
.fa-user {
    margin-right: 5px;
}

.fa-sign-in {
    margin-right: 5px;
}

@media only screen and (max-width: 980px) {
    .top-nav-bar {
        height: 118px;
        border-bottom: 0;
    }
    
    .search-box {
        width: 100%;
    }
    .menu-bar {
        width: 100%;
    }
    .menu-bar ul {
        margin: 10px 0;
        width: 100%;
    }

    .menu-bar ul li {
        height: 57px;
        width: 100%;
    }
}



/*------------- Side menu ------------------------------*/
.side-menu {
    height: 79%;
    width: 15%;
    font-size: 14px;
    float: left;
    z-index: 2;
    background: #ddd;
}

.side-menu ul {
    margin-left: 10px;
}

.side-menu ul li {
    list-style-type: none;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.side-menu ul li :hover {
    color: orange;
}

.side-menu ul li ul {
    display: none;
    z-index: 10;
    top: 77px;
}

.side-menu ul li:hover ul {
    display: block;
    height: 400px;
    margin-left: 14%;
    padding: 0 100px 10px 10px;
    position: fixed;
    background: #ececec;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,0.5);
}
.fa-angle-right {
    margin-top: 4px;
    margin-right: 8px;
    float: right;
}
#menu-btn,#close-btn {
    font-size: 30px;
    margin: 10px;
    color: orange;
    display: none;

}

@media only screen and (max-width: 980px) {
    .side-menu {
        width: 34%;
        z-index: 20;
        top: 133px;
        position: fixed;
        font-size: 12px;
        display: none;
    }

    .side-menu ul li ul {
        top: 133px;
    }

    .side-menu ul li:hover ul {
        margin-left: 31%;

    }
    #menu-btn {
        display: block;
    }

}

/*--------slider-----------*/

@keyframes slider {

    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;

    }

    50% {
        left: -200%;

    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: 0;
    }

}

#slider {
    overflow: hidden;
}

#slider figure img {
    width: 20%;
    float: left;
    display: block;
    max-width: 80%;
    max-height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    text-align: left;
    font-size: 0;
    animation: 20s slider infinite;
}
@media only screen and (max-width: 980px) {
    #slider figure img {
        max-height: 250px;
    }
}
/*-----------products card of main page CSS--------*/

.product-card {
  display: grid;
  grid-template-columns: auto;
}

.card-item {
    max-width: 100%;
    border: #fff solid;
    text-align: center;
    border-radius: 5px;
}

.card-img {
    max-width: 100%;
    border: #fff solid;
    justify-content: center;
}

@media  screen and (min-width: 380px) {
    .product-card {
        display: grid;
        grid-template-columns: auto auto;
    }
}

@media  screen and (min-width: 1000px) {
    .product-card {
        display: grid;
        grid-template-columns: auto auto auto;
    }
    .card-img {
        max-width: 80%;
    }
}
